.boxes {
    display: flex;
    flex-direction: horizontal;
    height: 10%;
    width: 100%;
    justify-content: center;
    position: relative;
    /* padding: 10px; */
}

.clientHeading {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.client-info {
    margin-right: 5%;
}

.add-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

/* .box {
    width: 20px;
    background-color: yellow;
    height: 100%;
} */